{
    "extends": "airbnb",
    "rules": {
        "indent": [1, 4],
        "comma-dangle": 1,
        "no-use-before-define": 0,
        "id-length": 0,
        "react/no-unknown-property": 0,
        "camelcase": 0,
        "no-console": 0,
        "no-alert": 0,
        "react/jsx-indent-props": [1, 4],
        "react/react-in-jsx-scope": 0
    },
    "globals": {
        "hJSX": true
    }
}